<ul>
  <!-- <li><a href="/">Home</a></li> -->
  <li><a href="/task2/updateProfile">update Profile</a></li>
  <li><a href="/task2/changePassword">reset Password</a></li>
  <li><a href="/task2/deleteProfile">delete profile</a></li>
</ul>
