
  








<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/profile.css" />
<link rel="stylesheet" href="/css/signUp.css" />
</head>
<body>
<div class="container">


  <%- include('../includes/header.ejs') %>

  <main class="profile_main">
    <nav class="nav">
        <%- include('../includes/list.ejs') %>
    </nav>
    <aside>
      <form action="/task2/changePassword" method="POST" class="form">
         <div class="form-group">
            <label for="password">new password</label>
            <input type="password" id="password" name="password" />
           </div>
           <div class="form-group">
             <label for="confirm-password">confirm password</label>
             <input type="password" id="confirm-password" name="confirmPassword" />
           </div>
          <div class="action" style="margin:1.2em auto;">
             <button type="submit">change Password</button>
          </div>
       </form>
    </aside>
  </main>
</div>
<%- include('../includes/end.ejs')%>

