<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/signUp.css" />
<head />
<body>
  <div class="container">
    <%- include('../includes/header.ejs') %>
    <%-include('../includes/showMesg.ejs') %>
    <main>
      <h1>Sign Up</h1>
      <form action="/task2/signUp" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
      <a href="/task2/signIn">Sign In</a>
    </main>
  </div>

  <% -include('../includes/end.ejs') %>
</body>
